[submodule "ioporacle"]
	path = oracle
	url = https://github.com/pantos-io/ioporacle.git
	branch = evaluation
[submodule "ethrelay"]
	path = relay
	url = https://github.com/pantos-io/ethrelay.git
	branch = evaluation
