[submodule "ioporacle"]
	path = verifiers/oracle
	url = https://github.com/pantos-io/ioporacle.git
	branch = evaluation
[submodule "ethrelay"]
	path = verifiers/relay
	url = https://github.com/pantos-io/ethrelay.git
	branch = evaluation
